<h2>Templates</h2>

<table>
    <tr>
        <td>
            <blinked-qr [template]="'default'" [data]="'blinked-qr'" [width]="200" [height]="200"
                [qrOptions]="{ errorCorrectionLevel: 'L' }"></blinked-qr>
            <div class="qr_name">default</div>
        </td>

        <td>
            <blinked-qr [template]="'ocean'" [data]="'blinked-qr'" [width]="200" [height]="200"
                [qrOptions]="{ errorCorrectionLevel: 'L' }">
            </blinked-qr>
            <div class="qr_name">ocean</div>
        </td>

        <td>
            <blinked-qr [template]="'sunflower'" [data]="'blinked-qr'" [width]="200" [height]="200"
                [qrOptions]="{ errorCorrectionLevel: 'L' }"></blinked-qr>
            <div class="qr_name">sunflower</div>
        </td>

        <td>
            <blinked-qr [template]="'luxury'" [data]="'blinked-qr'" [width]="200" [height]="200"
                [qrOptions]="{ errorCorrectionLevel: 'L' }"></blinked-qr>
            <div class="qr_name">luxury</div>
        </td>
    </tr>

    <tr>
        <td>
            <blinked-qr [template]="'bitcoin'" [data]="'blinked-qr'" [width]="200" [height]="200" [image]="
          'https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Bitcoin.svg/50px-Bitcoin.svg.png'
        ">
            </blinked-qr>
            <div class="qr_name">bitcoin</div>
        </td>

        <td>
            <blinked-qr [template]="'starbucks'" [data]="'blinked-qr'" [width]="200" [height]="200" [image]="
          'https://upload.wikimedia.org/wikipedia/en/d/d3/Starbucks_Corporation_Logo_2011.svg'
        ">
            </blinked-qr>
            <div class="qr_name">starbucks</div>
        </td>

        <td>
            <blinked-qr [template]="'angular'" [data]="'blinked-qr'" [width]="200" [height]="200" [image]="
          'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=='
        ">
            </blinked-qr>
            <div class="qr_name">angular</div>
        </td>

        <td>
            <blinked-qr [template]="'facebook'" [data]="'blinked-qr'" [width]="200" [height]="200" [image]="
          'https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Facebook_circle_pictogram.svg/512px-Facebook_circle_pictogram.svg.png'
        ">
            </blinked-qr>
            <div class="qr_name">facebook</div>
        </td>
    </tr>

    <tr>
        <td>
            <blinked-qr [template]="'beans'" [data]="'blinked-qr'" [width]="200" [height]="200">
            </blinked-qr>
            <div class="qr_name">beans</div>
        </td>

        <td>
            <blinked-qr [template]="'green'" [data]="'blinked-qr'" [width]="200" [height]="200"></blinked-qr>
            <div class="qr_name">green</div>
        </td>

        <td>
            <blinked-qr [template]="'sky'" [data]="'blinked-qr'" [width]="200" [height]="200"></blinked-qr>
            <div class="qr_name">sky</div>
        </td>

        <td>
            <blinked-qr [template]="'mosaic'" [data]="'blinked-qr'" [width]="200" [height]="200">
            </blinked-qr>
            <div class="qr_name">mosaic</div>
        </td>
    </tr>

    <tr>
        <td>
            <blinked-qr [template]="'jungle'" [data]="'blinked-qr'" [width]="200" [height]="200"></blinked-qr>
            <div class="qr_name">jungle</div>
        </td>

        <td>
            <blinked-qr [template]="'arabic'" [data]="'blinked-qr'" [width]="200" [height]="200"></blinked-qr>
            <div class="qr_name">arabic</div>
        </td>

        <td>
            <blinked-qr [template]="'tea'" [data]="'blinked-qr'" [width]="200" [height]="200"></blinked-qr>
            <div class="qr_name">tea</div>
        </td>

        <td>
            <blinked-qr [template]="'grape'" [data]="'blinked-qr'" [width]="200" [height]="200"></blinked-qr>
            <div class="qr_name">grape</div>
        </td>
    </tr>

    <tr>
        <td>
            <blinked-qr [template]="'coffee'" [data]="'blinked-qr'" [width]="200" [height]="200"></blinked-qr>
            <div class="qr_name">coffee</div>
        </td>

        <td>
            <blinked-qr [template]="'chess'" [data]="'blinked-qr'" [width]="200" [height]="200"></blinked-qr>
            <div class="qr_name">chess</div>
        </td>

        <td>
            <blinked-qr [template]="'vintage'" [data]="'blinked-qr'" [width]="200" [height]="200"></blinked-qr>
            <div class="qr_name">vintage</div>
        </td>

        <td>
            <blinked-qr [template]="'stamp'" [data]="'blinked-qr'" [width]="200" [height]="200">
            </blinked-qr>
            <div class="qr_name">stamp</div>
        </td>
    </tr>
</table>